{% extends 'base.html' %} 

{% load humanize %}

{% block title %} | Hosgeldiniz {% endblock %}


{% block content %}


 <!-- Showcase -->

 <section id="showcase">
  <div class="container text-center">
    <div class="home-search p-5">
      <div class="overlay p-5">
        <h1 class="display-4 mb-4">
          Ev Bulmak Artik Daha Kolay
        </h1>
          <p class="lead"> Hayalinizdeki evi aramaktan vazgeçmeyin..! </p>
          <div class="search">
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="sr-only">Anahtar Kelime</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Kelime (Havuz, Otopark, etc)">
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Şehir</label>
                  <select name="town" class="form-control">
                    <option selected="true" disabled="disabled">Semt (Hepsi)</option>
                    {% for key,value in town_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                  </select>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="sr-only">Şehir</label>
                  <select name="city" class="form-control">
                    <option selected="true" disabled="disabled">Şehir (Hepsi)</option>
                    {% for key,value in city_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Oda Sayısı</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Oda Sayısı (Hepsi)</option>
                    <{% for key,value in bedroom_choices.items %}
                    <option value="{{ key }}">{{ value }}</option>

                  {% endfor %}
                  </select>
                </div>
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Max Fiyat (Hepsi)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>

                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Formu Iletiniz</button>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}



<!-- Listings -->
<section id="listings" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3">Latest Listings</h3>
    <div class="row">
      {% if listings %}
        {% for listing in listings %}
          <!-- Listing 1 -->
          <div class="col-md-6 col-lg-4 mb-4">
            <div class="card listing-preview">
              <img class="card-img-top" src="{{listing.photo_main.url}}" alt="">
              <div class="card-img-overlay">
                <h2>
                  <span class="badge badge-secondary text-white">TRY {{ listing.price | intcomma }}</span>
                </h2>
              </div>
              <div class="card-body">
                <div class="listing-heading text-center">
                  <h4 class="text-primary">{{ listing.title }}</h4>
                  <p>
                    <i class="fas fa-map-marker text-secondary"></i> {{ listing.city }}, {{ listing.town }} 
                    {{ listing.postakodu }}
                  </p>
                </div>
                <hr>
                <div class="row py-4 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-th-large"></i> mt2: {{ listing.sqmt }}</div>
                  <div class="col-6">
                    <i class="fas fa-car"></i> Otopark: {{ listing.garage }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-6">
                    <i class="fas fa-bed"></i> Oda: {{ listing.bedrooms }}</div>
                  <div class="col-6">
                    <i class="fas fa-bath"></i> Banyo: {{ listing.bathrooms }}</div>
                </div>
                <hr>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> Danışman: {{ listing.realtor }}</div>
                </div>
                <div class="row py-2 text-secondary">
                  <div class="col-12">
                    <i class="fas fa-user"></i> Tel: {{ listing.realtor.phone }}</div>
                </div>
                <div class="row py-2 text-secondary ">
                  <div class="col-12">
                    <i class="fas fa-clock"></i> İlan: {{ listing.list_date | timesince }}</div>
                </div>
                <hr>
                <a href="{% url 'listing' listing.id %}" class="btn btn-primary btn-block">Daha Fazla Bilgi</a>
              </div>
            </div>
          </div>
        {% endfor %}
      {% else %}
        <div class="col-md-12">
          <p>Listede Konut Bulunmamaktadir </p>
        </div>
      {% endif %}

    </div>
  </div>
</section>

<section id="services" class="py-5 bg-secondary text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <i class="fas fa-comment fa-4x mr-4"></i>
        <hr>
        <h3>Emlak Danışmanlığı </h3>
        <p> Danışmanlarımız yatırımlarınız en iyi şekilde nasıl değerlendirebileceğiniz.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-home fa-4x mr-4"></i>
        <hr>
        <h3>Mülk İşletmesi</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, debitis nam! Repudiandae, provident iste consequatur
          hic dignissimos ratione ea quae.</p>
      </div>
      <div class="col-md-4">
        <i class="fas fa-suitcase fa-4x mr-4"></i>
        <hr>
        <h3>Alım Satım</h3>
        <p>Her türlü emlak alım satım işlemleriniz yürütülür.</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}

